/* * {
      border: thin red dashed;
      box-sizing: border-box;
    } */

    body {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      width: 960px;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .row-center {
      display: flex;
      justify-content: center
    }

    .button { 
      color: teal; 
      border: 1px cyan solid;  
      border-radius: 5px; 
      text-decoration: none;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 5px

    }

    .one-third {
      width: 30%;
    }

    .player-card {
      border: thin green solid;
      width: 49%;
    }

    .computer-card {
      border: thin red solid;
      width: 49%;
    }

    .outcome-card {
      border: thin black solid;
      background-color: yellow;
      width: 66%;
      text-align: center;
    }

    .mb {
      margin-bottom: 10px;
    }